<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>PokéGoGo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href="https://rawgit.com/tobiasahlin/SpinKit/master/css/spinkit.css" />
    <link rel='stylesheet' href="https://rawgit.com/Pathgather/please-wait/master/build/please-wait.css" type='text/css' media='all' />
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href="main.css" />
  </head>
  <body layout="column" ng-controller='main-ctrl as vm'>
    <div layout="column" flex class="inner">

      <md-toolbar layout="row" layout-align="start center" style="height:40px;min-height:40px">
        <div class="md-toolbar-tools">
          <md-button md-no-focus-style class="md-icon-button" aria-label="Options" ng-click="vm.toggleOptions()">
            <md-icon class="material-icons">menu</md-icon>
          </md-button>
          <span>PokéGoGo</span>
          <span flex></span>
          <div id="loading-bar-container"></div>
        </div>
      </md-toolbar>

      <div flex layout="row">
        <md-sidenav class="md-sidenav-left" md-component-id="options" md-disable-backdrop="" md-whiteframe="4">
          <md-toolbar layout="row" layout-align="start center" style="height:40px;min-height:40px">
            <md-button md-no-focus-style class="md-icon-button" aria-label="Options" ng-click="vm.toggleOptions()">
              <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <span>Options</span>
          </md-toolbar>
          <md-content layout-padding="">
            <div layout layout-align="space-between center">
              <div>
                <span>Health Bar</span>
              </div>
              <md-switch class="md-primary" ng-model="vm.showHealth"></md-switch>
            </div>
            <div layout layout-align="space-between center">
              <div>
                <span>Scan Details</span>
              </div>
              <md-switch class="md-primary" ng-model="vm.debug"></md-switch>
            </div>
            <div layout layout-align="space-between center">
              <div>
                <span>Radius(meters)</span>
              </div>
              <md-slider class="md-primary" md-discrete ng-model="vm.radius" step="50" min="50" max="2000"
                aria-label="radius">
              </md-slider>
            </div>
            <div layout layout-align="space-between center">
              <div>
                <span>Deep Scan</span>
              </div>
              <md-switch class="md-primary" ng-model="vm.deepScan"></md-switch>
            </div>
            <div layout layout-align="space-between center">
              <div>
                <span>Auto Update</span>
              </div>
              <md-switch class="md-primary" ng-model="vm.autoUpdate"></md-switch>
            </div>
            <div layout layout-align="space-between center">
              <div>
                <span>Update Interval</span>
              </div>
              <md-slider class="md-primary" md-discrete ng-model="vm.autoUpdateInterval" step="5" min="5" max="60"
                aria-label="update interval">
              </md-slider>
            </div>
            <div layout layout-align="space-between center">
              <div>
                <span>Use Current Location</span>
              </div>
              <md-switch class="md-primary" ng-model="vm.useLocation"></md-switch>
            </div>
            <div layout layout-align="space-between center">
              <div>
                <span>Hide Pokémons:</span>
              </div>
              <md-switch class="md-primary" ng-model="vm.hide"></md-switch>
            </div>
          </md-content>
          <md-content ng-show="vm.hide" class="md-padding autocomplete" layout="column">
            <md-contact-chips ng-model="vm.hideList"
                              md-contacts="vm.querySearch($query)"
                              md-contact-name="Name"
                              md-contact-image="Image"
                              md-contact-email="Number"
                              md-require-match="true"
                              md-highlight-flags="i"
                              filter-selected="vm.filterSelected"
                              placeholder="Pokemon Name">
            </md-contact-chips>
          </md-content>
        </md-sidenav>

        <!-- Container for Map -->
        <!-- disable-default-u-i="true" -->
        <md-content flex id="content">
          <ng-map
            default-style="false"
            center="current-position"
            zoom="16"
            map-initialized="vm.init(map)"
            fullscreen-control="true"
            street-view-control="false"
            map-type-control="false"
            zooom-control="true"
            geo-callback="vm.geoInit()"
            geo-fallback-center="[47.612671, -122.204195]"
            styles="{{vm.mapStyle}}"
            >

            <marker ng-repeat="poke in vm.pokemons track by poke.unique"
                    on-click="vm.showInfo(poke)"
                    position="{{::poke.lat}},{{::poke.lng}}"
                    icon="{{::poke.image}}"
                    visible="{{!vm.hide || !vm.hideListNum.includes(poke.id)}}"
                    id="pokemon-{{::poke.unique}}"
                    >
            </marker>
            <custom-marker-offset ng-repeat="poke in vm.pokemons track by poke.unique"
                    position="{{::poke.lat}},{{::poke.lng}}"
                    offset-x="15"
                    offset-y="-10"
                    ng-if="vm.showHealth && (!vm.hide || !vm.hideListNum.includes(poke.id))"
                    visible="{{vm.showHealth && (!vm.hide || !vm.hideListNum.includes(poke.id))}}"
                    >
              <div class="meter" ng-class="{red: poke.life < 33, yellow: poke.life < 66}">
                <span style="width: {{poke.life}}%"></span>
              </div>
            </custom-marker-offset>

            <!-- Show the center of the current scan location -->
            <marker position="{{vm.lat}},{{vm.lng}}"
                    icon="icons/marker.png"
                    >
            </marker>

            <shape ng-if="vm.debug" name="circle"
                   stroke-color="blue"
                   stroke-opacity="1"
                   stroke-weight="2"
                   fill-opacity="0"
                   center="{{vm.lat}}, {{vm.lng}}"
                   visible="{{vm.debug}}"
                   radius="{{vm.radius}}">
            </shape>


            <!-- needs to track by cell_id+color since ngmap isn't watching the subproperty change for some reason -->
            <shape ng-if="vm.debug" ng-repeat="cell in vm.cells track by (cell.cell_id+cell.color)"
                   name="polygon"
                   stroke-color="#FF0000"
                   fill-color="{{::cell.color}}"
                   fill-opacity="0.3"
                   stroke-opacity="0.5"
                   stroke-weight="1"
                   visible="{{vm.debug}}"
                   paths="{{::cell.path}}" >
            </shape>
            <!-- <custom-marker-offset ng-repeat="cell in vm.cells track by (cell.cell_id+cell.last_scanned_by)" -->
                    <!-- position="{{::cell.lat}},{{::cell.lng}}" -->
                    <!-- offset-x="15" -->
                    <!-- offset-y="-10" -->
                    <!-- ng-if="vm.debug" -->
                    <!-- visible="{{vm.debug}}" -->
                    <!-- > -->
                    <!-- <span>{{cell.last_scanned_by}}</span> -->
            <!-- </custom-marker-offset> -->

            <custom-control position="BOTTOM_RIGHT" index="1">
              <ul style="color:black; font-weight:bold; list-style:none; padding:0; margin:0" class="list-unstyled">
                <li ng-repeat="server in vm.server_status track by server.name">
                  {{server.name}}: <span ng-class="{up: server.status === 'UP', down: server.status === 'DOWN'}">{{server.status}}</span> (checked at: {{server.updated * 1000 | date: 'medium'}})
                </li>
                <li>Pokemons found: {{vm.stats.TOTAL_POKEMONS}}</li>
                <li>Accounts used: {{vm.stats.TOTAL_ACCOUNTS}}</li>
                <li>Cells total: {{vm.stats.TOTAL_CELLS}}</li>
                <li>Cells cached: {{vm.stats.TOTAL_CACHED}}</li>
                <li>Cells scanned: {{vm.stats.TOTAL_SCANNED}}</li>
                <li>Cells locked: {{vm.stats.TOTAL_LOCKED}}</li>
                <li>Cells busy: {{vm.stats.TOTAL_BUSY}}</li>
              </ul>
            </custom-control>

            <info-window id="poke-window">
              <div ng-non-bindable="">
                <b>{{vm.poke.name}}</b> disappears in {{vm.poke.timeleft | secondsToDateTime | date: 'HH:mm:ss'}}
              </div>
            </info-window>
          </ng-map>
        </md-content>

      </div>

    </div>

    <script src="https://rawgit.com/Pathgather/please-wait/master/build/please-wait.js"></script>
    <script>
      window.loading_screen = window.pleaseWait({
        logo: "icons/pokeball.png",
        backgroundColor: '#f46d3b',
        loadingHtml: '<p class="loading-message">PokéGoGo is locating nearby Pokémons for you!</p> <div class="sk-wave"> <div class="sk-rect sk-rect1"></div> <div class="sk-rect sk-rect2"></div> <div class="sk-rect sk-rect3"></div> <div class="sk-rect sk-rect4"></div> <div class="sk-rect sk-rect5"></div> </div>'
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.14.0/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBzBWQyELkchEuUUcIY4JTfrxHYkrWpzG0"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
    <!-- Patch custom-marker from ng-map to allow offset -->
    <script src="vendor/custom-marker-offset.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="vendor/geolocation-marker.js"></script>
    <script src="main.js"></script>
  </body>
</html>
