html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "raleway", sans-serif;
}

body > .inner {
  height: 100%;
  display: none;
}

body.pg-loaded > .inner {
  display: flex;
}

.gm-style-cc { display:none; }

ng-map {
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading-message {
  color: white;
}

.sk-wave .sk-rect {
  background-color: white;
}

span.up {
  color: green;
}

span.down {
  color: red;
}

#loading-bar-container {
  /* margin-right: 5px; */
}

.pokeball {
  width: 30px;
  height: 30px;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




.meter {
  width: 30px;
  height: 3px;
  position: relative;
  background: #555;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  padding: 1px;
  top: -1px;
  left: -1px;
}
.meter > span {
  display: block;
  height: 100%;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background-color: rgb(43,194,83);
  position: relative;
}

.yellow > span {
  background-color: #FFEF00;
}

.red > span {
  background-color: #FF2D00;
}
